/*
 * angular-ui-tab-scroll
 * https://github.com/VersifitTechnologies/angular-ui-tab-scroll
 *
 * Version: 2.2.3
 * License: MIT
 */
.ui-tabs-scrollable {
  height: 100%;
  position: relative; }
  .ui-tabs-scrollable > .spacer:not(.hidden-buttons) {
    margin-left: 0;
    margin-right: calc(30px + 30px); }
    .ui-tabs-scrollable > .spacer:not(.hidden-buttons) > div:first-child > .tab-content {
      margin-left: 0px;
      margin-right: calc(-30px - 30px);
      border-top-color: transparent;
      border-bottom: 1px solid #AAA;
      margin-bottom: -1px;
      position: relative; }
  .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs-container {
    margin-right: -90px;
    background-color: #F0F0F0; }
  .ui-tabs-scrollable > .spacer.hidden-buttons > div:first-child .nav-tabs > li:last-child > a {
    border-right-color: #AAA; }
  .ui-tabs-scrollable > .spacer.hidden-buttons > div:first-child .nav-tabs > li:last-child.active > a {
    border-right-color: #AAA; }
  .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li:last-child > a {
    border-right-color: #AAA; }
  .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs {
    white-space: nowrap;
    overflow: hidden;
    border: none;
    margin-right: 90px;
    height: 50px; }
    .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li {
      float: none;
      display: table-cell;
      margin: 0; }
      .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li:first-child {
        padding-left: 10px; }
      .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li.active > a {
        border-color: #AAA;
        border-top-color: transparent;
        border-bottom: 5px solid #005EAA;
        background-color: #FFF;
        color: #333;
        box-shadow: 0 0 5px rgba(0,0,0,0.25); }
      .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li.active + li > a {
        border-left-color: #F2F2F2; }
      .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li.active + li > a:hover {
        border-left-color: #e5e5e5; }
      .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li:not(.active) > a {
        border-bottom-color: #AAA;
        background-color: #F0F0F0;
        color: #666; }
        .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li:not(.active) > a:hover {
          background-color: #e5e5e5; }
      .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li.disabled:not(.active) > a {
        color: #9d9d9d; }
        .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li.disabled:not(.active) > a:hover {
          background-color: #F2F2F2; }
      .ui-tabs-scrollable > .spacer > div:first-child .nav-tabs > li > a {
        line-height: 40px;
        height: 40px;
        width: 125px;
        font-size: 14pt;
        font-family: 'Open Sans';
        overflow: hidden;
        background-color: #F0F0F0;
        border: 1px solid #AAA;
        border-right-color: transparent;
        padding: 0 10px;
        margin: 0;
        color: #666666;
        text-align: left;
        border-radius: 0 0 2px 2px; }
  .ui-tabs-scrollable > .spacer > div:first-child > .tab-content {
    margin-top: -1px;
    border-top: 1px solid #999; }
  .ui-tabs-scrollable > .nav-button {
    position: absolute;
    width: 30px;
    height: 35px;
    top: inherit;
    cursor: pointer;
    text-align: center;
    background-color: #F0F0F0; }
    .ui-tabs-scrollable > .nav-button:before {
      font-family: 'Glyphicons Halflings';
      color: #8c8c8c; }
    .ui-tabs-scrollable > .nav-button:disabled:before {
      color: #c5c5c5; }
    .ui-tabs-scrollable > .nav-button.left-nav-button {
      right: 20px;
      border-right: 0; }
    .ui-tabs-scrollable > .nav-button.right-nav-button {
      right: 0; }
  .ui-tabs-scrollable > .dropdown {
    position: absolute;
    top: inherit;
    border-bottom-color: #ddd;
    right: 0; }
    .ui-tabs-scrollable > .dropdown > .dropdown-toggle {
      width: 30px;
      line-height: 35px;
      height: 35px;
      font-size: 14pt;
      color: #8c8c8c;
      text-align: center;
      padding: 0;
      background-color: #F0F0F0; }
  .ui-tabs-scrollable.show-drop-down > .spacer:not(.hidden-buttons) {
    margin-right: calc(30px + 30px + 30px); }
    .ui-tabs-scrollable.show-drop-down > .spacer:not(.hidden-buttons) > div:first-child > .tab-content {
      margin-right: calc(-30px - 30px - 30px); }
  .ui-tabs-scrollable.show-drop-down > .nav-button.right-nav-button {
    padding: 0;
    right: 30px; }
  .ui-tabs-scrollable.show-drop-down > .nav-button.left-nav-button {
    padding: 0;
    bottom: -35px;
    right: calc(30px + 30px); }

.dropdown-menu {
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
  font-family: 'Open Sans';
  font-size: 14pt;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15); }
  .dropdown-menu > li > a {
    color: #333;
    padding: 3px 15px; }
    .dropdown-menu > li > a.dropDownTabActiveMark, .dropdown-menu > li > a:hover {
      background-color: #005EAA;
      color: white; }

/*make the tabs content be height 100%*/
.ui-tabs-scrollable > .spacer {
  height: 100%; }
  .ui-tabs-scrollable > .spacer > div:first-child {
    height: 100%; }
    .ui-tabs-scrollable > .spacer > div:first-child > .tab-content {
      height: 100%; }
      .ui-tabs-scrollable > .spacer > div:first-child > .tab-content > .active {
        height: 100%;
        overflow: auto; }

